registry=https://mirrors.huaweicloud.com/repository/npm/
disturl=https://mirrors.huaweicloud.com/nodejs
sass_binary_site=https://mirrors.huaweicloud.com/node-sass
phantomjs_cdnurl=https://mirrors.huaweicloud.com/phantomjs
chromedriver_cdnurl=https://mirrors.huaweicloud.com/chromedriver
operadriver_cdnurl=https://mirrors.huaweicloud.com/operadriver
electron_mirror=https://mirrors.huaweicloud.com/electron/
python_mirror=https://mirrors.huaweicloud.com/python
